* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html, body {
    height: 100vh;
    -webkit-font-smoothing: antialiased;
}

body {
    display: grid;
    place-items: center;
    background: linear-gradient(to left, #b5e48c, #99d98c, #76c893);
}

.container {
    height: 40rem;
    width: 90%;
    max-width: 50rem;
    margin: 0 auto;
}

.container .display,
.container table {
    width: 100%;
}

.container .display {
    height: 15%;
    width: 100%;
    font-size: 2.6rem;
    margin-bottom: 0.3rem;
    outline: none;
    color: black;
    border-radius: 1.7rem;
    border: none;
    box-shadow: 0.1rem 0.4rem 0 rgb(180, 173, 173);
}

.container table {
    height: 85%;
}

.container table td {
    text-align: center;
    width: 4rem;
    background: #0077b6;
    color: white;
    box-shadow: 0.2rem 0.7rem 0 #1b1c75;
    font-weight: bold;
    font-size: 2rem;
    border-radius: 1.7rem;

    transition-property: all;
    transition-duration: 0.1s;

    cursor: pointer;
    user-select: none;
}

.container table td:hover {
    background: #023e8a;
    border-radius: 1.7rem;
}

.container table td:active {
    display: relative;
    top: 0.7rem;
    right: 0.2rem;
    box-shadow: 0 0.1rem #1b1c75;
}

.container .key-calcular {
    background-color: #00a896;
    box-shadow: 0.2rem 0.7rem 0 #0a6e64;
}

.container .key-calcular:hover {
    background-color: #02c39a;
}

@media (min-width: 1024px) {
    .container .display {
        font-size: 2.6rem;
    }
}
